POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_DATABASE_DSN=postgresql+psycopg://postgres:postgres@localhost:5432/app
LOGS_DATABASE_DSN=postgresql+psycopg://postgres:postgres@localhost:5432/logs
